
/* the body of the html will have the following font */
.body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;

}

/* The main will flex and wrap and have margin */
main{
    display: flex;
    flex-wrap: wrap; 
    margin: 10px;

}

/* The title will have the following features */
.title{
    text-align: center;
    flex-direction: wrap;
    background-color: darkblue;
    padding: 10px;
    color: white;
}

/* font weight for all headers 3 */
h3{
    font-weight: 600;
}

/* the buttons will have the following features */
button{
    padding: 5px;
    margin: 5px ;
    border: 2px;
    color: white;
    background-color: rgb(72, 165, 134);
}

/* the search section will be placed in the following */
.searchbox{
    text-align: center;
    flex-direction:column;
    margin: 0 30px 0px 30px;
    padding: 0 30px 30px 30px;
    border-style: solid;
    border-color: black;
    align-items: left;
}

/* the current weather box will have fex and the following styles */
.showbox{
    
    /* text-align: center; */
    flex-direction:column;
    margin: 0 30px 0px 30px;
    padding: 0 30px 30px 30px;
    border-style: solid;
    border-color: black;
    align-items: center;
}

/* both classes will be inline */
.searchbox,
.showbox{
    display: inline;
    margin-bottom: 10px;
}

/* the 5-day forecast box will have flex and the following features */
.showboxtwo{
    
    /* text-align: center; */
    flex-direction:column;
    margin: 0 30px 0px 30px;
    padding: 0 30px 30px 30px;
    border-style: solid;
    border-color: black;
    align-items: center;
 
}

/* these classes are being displayed in a block */
.showbox,
.showboxtwo{
    display: block;
}

/* the div id fivedays will have white font and other features */
#fivedays{
    color: white;
    background-color: darkblue;
    display: flex;
    
}

/* the lists will have a margin */
li{
    margin: 10px;
}

/* the ul sections will have border style and color as well as other features */
ul{
    border-style: solid;
    border-color:white;
    margin-bottom: 0px;
    border-width: 500;
    list-style: none;
}